<!DOCTYPE html>
<html>
<head>
	<title>Vue2 App4</title>
	<script src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css"
	      integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw=" crossorigin="anonymous"/>
</head>
<body>
<div id="app">
	<ul>
		<li v-for="color in colors" v-if="color.primary">{{color.text}}</li>
	</ul>
</div>
<script>
	var app = new Vue({
		el: "#app",
		data: {
			colors: [
				{
					text: 'red',
					primary: true
				}, {
					text: 'green',
					primary: false
				}, {
					text: 'blue',
					primary: true
				}, {
					text: 'yellow',
					primary: true
				}, {
					text: 'orange',
					primary: false
				}
			]
		}
	});
</script>
</body>
</html>app