<!DOCTYPE html>
<html>
<head>
	<title>Vue2 App4</title>
	<script src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css"
	      integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw=" crossorigin="anonymous"/>
</head>
<body>
<div class="container p-5">
	hi
	<div id="app">
		<counter v-bind:add-num="5"></counter>
	</div>
</div>
<script>
	var counter = Vue.component('counter', {
		template: `
			<div>
			<div>Count: {{this.count}}</div>
			<button class="btn-success btn-lg" @click="increment">Increment by {{this.addNum}}</button>
			</div>
		`,
		props: {
			addNum: {
				type: Number,
				default: 3
			}
		},
		data() {
			return {
				count: 0
			}
		},
		methods: {
			increment() {
				this.count += this.addNum
			}
		}
	});

	var app = new Vue({
		el: "#app",
		components: {
			counter
		}

	});
</script>
</body>
</html>